.archive

    &__head
        padding: 30px
        background: $white
        margin-bottom: 30px

    &__item
        background: $white
        padding: 30px

    &__list-item:not(:last-child)
        border-bottom: 1px solid $grey
        margin-bottom: 30px
        padding-bottom: 30px

    &__article
        display: flex
        align-items: center

    &__img
        display: block
        min-width: 280px
        width: 280px
        height: 185px

    &__info
        width: 100%
        padding-right: 30px

    &__title
        margin: 20px 0

    &__excerpt
        margin: 0

    &__date
        font-size: 14px
        color: $middlegrey
